{% extends "base.html" %}

{% block title %}Crear Proyecto - Japanapp{% endblock %}

{% block content %}
<div class="container mt-5 align-items-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-left">
                <div class="card-header">Crea tu nuevo proyecto!!!!</div>
                <div class="card-body">
                    <form method="POST" class="form-group" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_username">Elige tu coche</label>
                            {{ form.modelo_coche }}
                        </div>
                        <div class="form-group">
                            <label for="id_email">Elige el escape que deseas ponerle a tu coche</label>
                            {{ form.modelo_escape }}
                        </div>
                        <div class="form-group">
                            <label for="id_password1">Elige las llantas que deseas ponerle a tu coche</label>
                            {{ form.modelo_llanta}}
                        </div>
                        <div class="form-group">
                            <label for="id_password2">Elige el volante que deseas ponerle a tu coche</label>
                            {{ form.modelo_volante }}
                        </div>
                        <div class="form-group">
                            <label for="id_telefono">Elige el Body_Kit que deseas ponerle a tu coche</label>
                            {{ form.modelo_bk }}
                        </div>
                        <div class="form-group">
                            <label for="id_telefono">Elige la suspension que deseas ponerle a tu coche</label>
                            {{ form.modelo_suspes }}
                        </div>
                        <div class="form-group">
                            <label for="id_telefono">Elige el Filtro que deseas ponerle a tu coche</label>
                            {{ form.modelo_filtro }}
                        </div>
                        <div class="form-group">
                            <label for="id_telefono">Sube la foto de tu proyecto</label>
                            {{ form.img }}
                        </div>
                        <button type="submit" class="btn btn-success">Crear Proyecto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}